.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  &__title {
    font-weight: 700;
  }
  &__text {
    font-weight: 500;
  }
  &__link {
    text-decoration: underline;
    font-weight: 500;
  }
}
